# Compiled Output
dist
build
.next
tmp
/out-tsc

# Project Dependencies
.git
.gitignore
# node_modules
# Docker
compose*.yml
Dockerfile

# IDEs and Editors
.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vs/*
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Miscellaneous
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
.editorconfig
.eslint*

# Environment Variables
# *.env*
!.env.example
